//Director Detail
.director-detail {
  .image-director {
    max-width: 100%;
  }
  .director-description {
    padding: 10px;
    .description {
      font-size: 1.2em;
      font-weight: 600;
    }
  }

}
